<html>
  <head>
    <meta charset="utf-8">
    <title>
      {$topic} ({$course})
    </title>
    <style type="text/css">
<!--
        * \{ font-family: Sans, DejaVu Sans, Verdana; font-size: 8pt;
            vertical-align: middle;
            padding: 0;
            margin: 0;
        \}
        html,body \{
        \}
        h1,h2 \{
        \}
        h3 \{
        \}
        h1,h2,h3 \{
          text-align: center;
        \}
        .question \{
          page-break-inside: avoid;
        \}
        .input_shape \{
          margin-bottom: 0.2em;
        \}
    -->
    </style>
  </head>
  <body>
    <h1>
      Курс: {$course}
    </h1>
    <h2>
      {$topic}
    </h2>
    {
        foreach my $question (@questions){
            $OUT .= $question;
        }
    }

  </body>
</html>
